[submodule "timeseriesdb"]
	path = timeseriesdb
	url = git@github.com:joonyoungleeduke/timeseriesdb.git
[submodule "userapi"]
	path = userapi
	url = git@github.com:joonyoungleeduke/userapi.git
[submodule "backtestapi"]
	path = backtestapi
	url = git@github.com:joonyoungleeduke/backtestapi.git
